{% extends 'base.html.twig' %}

{% block body %}
    <h1>Residences list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomresidence</th>
                <th>Adresseresidence</th>
                <th>Telephoneresidence</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for residence in residences %}
            <tr>
                <td><a href="{{ path('residence_show', { 'id': residence.id }) }}">{{ residence.id }}</a></td>
                <td>{{ residence.nomResidence }}</td>
                <td>{{ residence.adresseResidence }}</td>
                <td>{{ residence.telephoneResidence }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('residence_show', { 'id': residence.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('residence_edit', { 'id': residence.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('residence_new') }}">Create a new residence</a>
        </li>
    </ul>
{% endblock %}
