<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('front-end/plugins/iCheck/all.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
    <link href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('frontend/css/font-awesome.min.css') }}">
    <link  rel="stylesheet" href="{{ asset('frontend/css/bootstrap.min.css') }}">
    <link  rel="stylesheet" href="{{ asset('frontend/css/bootstrap-datetimepicker.min.css') }} ">
    <link  rel="stylesheet" href="{{ asset('frontend/css/flexslider.css') }}">
    <link  rel="stylesheet" href="{{ asset('frontend/css/templatemo-style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>
    <!-- Mes styles obaju -->
    <link href="{{ asset('frontend/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('frontend/css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('frontend/css/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('frontend/css/owl.theme.css') }}" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="{{ asset('frontend/css/style.lefeto.css') }}" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="{{ asset('frontend/css/custom.css') }}" rel="stylesheet">
</head>
<body >
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Offer of the day</a>  <a href="#">Get flat 35% off on orders over $50!</a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                    </li>
                    <li><a href="register.html">Register</a>
                    </li>
                    <li><a href="contact.html">Contact</a>
                    </li>
                    <li><a href="#">Recently viewed</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Login">Customer login</h4>
                    </div>
                    <div class="modal-body">
                        <form action="customer-orders.html" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email-modal" placeholder="email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password-modal" placeholder="password">
                            </div>

                            <p class="text-center">
                                <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                            </p>

                        </form>

                        <p class="text-center text-muted">Not registered yet?</p>
                        <p class="text-center text-muted"><a href="register.html"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="index.html" data-animate-hover="bounce">
                    <img src="{{ asset('frontend/img/img/logo.png') }}" alt="Obaju logo" class="hidden-xs">
                    <img src="{{ asset('frontend/img/img/logo-small.png') }}" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
                </a>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="index.html">Acceuil</a>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Nos Résidences <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <h5>Nos résidences</h5>
                                            <ul>
                                                <li><a href="category.html">Le feto 1</a>
                                                </li>
                                                <li><a href="category.html">Le feto 2</a>
                                                </li>
                                                <li><a href="category.html">Le feto 3</a>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <h5>Nos Offres</h5>
                                            <ul>
                                                <h3>Chambres</h3>
                                                <li><a href="category.html">Standard</a>
                                                </li>
                                                <li><a href="category.html">Luxes</a>
                                                </li>
                                                <h3>Suites</h3>
                                                <li><a href="category.html">Standard</a>
                                                </li>
                                                <li><a href="category.html">Luxes</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="banner">
                                                <a href="#">
                                                    <img src="{{ asset('frontend/img/img/banner.jpg') }}" class="img img-responsive" alt="">
                                                </a>
                                            </div>
                                            <div class="banner">
                                                <a href="#">
                                                    <img src="{{ asset('frontend/img/banner-2.jpg') }}" class="img img-responsive" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Le Restaurant <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h5>Une description</h5>
                                            <ul>
                                                <li><a href="category.html">T-shirts</a>
                                                </li>
                                                <li><a href="category.html">Shirts</a>
                                                </li>
                                                <li><a href="category.html">Pants</a>
                                                </li>
                                                <li><a href="category.html">Accessories</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="banner">
                                                <a href="#">
                                                    <img src="{{ asset('frontend/img/banner-1.jpg') }}" class="img img-responsive" alt="">
                                                </a>
                                            </div>
                                            <div class="banner">
                                                <a href="#">
                                                    <img src="{{ asset('frontend/img/banner-2.jpg') }}" class="img img-responsive" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Template <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Shop</h5>
                                            <ul>
                                                <li><a href="index.html">Homepage</a>
                                                </li>
                                                <li><a href="category.html">Category - sidebar left</a>
                                                </li>
                                                <li><a href="category-right.html">Category - sidebar right</a>
                                                </li>
                                                <li><a href="category-full.html">Category - full width</a>
                                                </li>
                                                <li><a href="detail.html">Product detail</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>User</h5>
                                            <ul>
                                                <li><a href="register.html">Register / login</a>
                                                </li>
                                                <li><a href="customer-orders.html">Orders history</a>
                                                </li>
                                                <li><a href="customer-order.html">Order history detail</a>
                                                </li>
                                                <li><a href="customer-wishlist.html">Wishlist</a>
                                                </li>
                                                <li><a href="customer-account.html">Customer account / change password</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Order process</h5>
                                            <ul>
                                                <li><a href="basket.html">Gérer votre commande</a>
                                                </li>
                                                <li><a href="checkout1.html">Checkout - step 1</a>
                                                </li>
                                                <li><a href="checkout2.html">Checkout - step 2</a>
                                                </li>
                                                <li><a href="checkout3.html">Checkout - step 3</a>
                                                </li>
                                                <li><a href="checkout4.html">Checkout - step 4</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Pages and blog</h5>
                                            <ul>
                                                <li><a href="blog.html">Blog listing</a>
                                                </li>
                                                <li><a href="post.html">Blog Post</a>
                                                </li>
                                                <li><a href="faq.html">FAQ</a>
                                                </li>
                                                <li><a href="text.html">Text page</a>
                                                </li>
                                                <li><a href="text-right.html">Text page - right sidebar</a>
                                                </li>
                                                <li><a href="404.html">404 page</a>
                                                </li>
                                                <li><a href="contact.html">Contact</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-buttons">

                <div class="navbar-collapse collapse right" id="basket-overview">
                    <a href="basket.html" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">3 items in cart</span></a>
                </div>
                <!--/.nav-collapse -->

                <div class="navbar-collapse collapse right" id="search-not-mobile">
                    <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>

            </div>

            <div class="collapse clearfix" id="search">

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">

                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

                </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <div id="all">
      <div id="content">
          <div class="container">

              <div class="col-md-8" id="basket">

                  <div class="box">

                      <form method="post" action="checkout1.html">

                          <h1>Shopping cart</h1>
                          <p class="text-muted">Actuellement vous avez 2 articles dans votre commande</p>
                          <div class="table-responsive">
                              <table class="table">
                                  <thead>
                                  <tr>
                                      <th colspan="2">Type de logement</th>
                                      <th>Nombre</th>
                                      <th>Tarif pour 1 jour </th>
                                      <th>Taxe</th>
                                      <th colspan="2">Total</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                      <td>
                                          <a href="#">
                                              <img src="{{ asset('frontend/img/feto/ch4.jpg') }}" alt="Chambre Simple Standard">
                                          </a>
                                      </td>
                                      <td><a href="#">Chambre simple standard</a>
                                      </td>
                                      <td>
                                          <input type="number" value="2" class="form-control">
                                      </td>
                                      <td>XOF 40 000</td>
                                      <td>XOF 0.00</td>
                                      <td>XOF 80.000</td>
                                      <td><a href="#"><i class="fa fa-trash-o"></i></a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <a href="#">
                                              <img src="{{ asset('frontend/img/img/basketsquare.jpg') }}" alt="Chambre standard double">
                                          </a>
                                      </td>
                                      <td><a href="#">Chambre standard double</a>
                                      </td>
                                      <td>
                                          <input type="number" value="1" class="form-control">
                                      </td>
                                      <td> XOF 64 000</td>
                                      <td>XOF 0.00</td>
                                      <td>XOF 64 000</td>
                                      <td><a href="#"><i class="fa fa-trash-o"></i></a>
                                      </td>
                                  </tr>
                                  </tbody>
                                  <tfoot>
                                  <tr>
                                      <th colspan="5">Total</th>
                                      <th colspan="2">XOF 144 000</th>
                                  </tr>
                                  </tfoot>
                              </table>

                          </div>
                          <!-- /.table-responsive -->

                          <div class="box-footer">
                              <div class="pull-left">
                                  <a href="category.html" class="btn btn-default"><i class="fa fa-chevron-left"></i> Ajouter d'autres offres</a>
                              </div>
                              <div class="pull-right">
                                  <button class="btn btn-default"><i class="fa fa-refresh"></i> Mettre à jour la commande</button>
                                  <button type="submit" class="btn btn-primary">Valider la reservation<i class="fa fa-chevron-right"></i>
                                  </button>
                              </div>
                          </div>

                      </form>

                  </div>
                  <!-- /.box -->


                  <div class="row same-height-row">
                      <div class="col-md-3 col-sm-6">
                          <div class="product same-height">
                              <div class="flip-container">
                                  <div class="flipper">
                                      <div class="front">
                                          <a href="detail.html">
                                              <img src="{{ asset('frontend/img/img/product2.jpg') }}" alt="" class="img-responsive">
                                          </a>
                                      </div>
                                      <div class="back">
                                          <a href="detail.html">
                                              <img src="{{ asset('frontend/img/img/product3.jpg') }}" alt="" class="img-responsive">
                                          </a>
                                      </div>
                                  </div>
                              </div>
                              <a href="detail.html" class="invisible">
                                  <img src="{{ asset('frontend/img/img/product2.jpg') }}" alt="" class="img-responsive">
                              </a>
                              <div class="text">
                                  <h3>Fur coat</h3>
                                  <p class="price">$143</p>
                              </div>
                          </div>
                          <!-- /.product -->
                      </div>
                      <div class="col-md-3 col-sm-6">
                          <div class="product same-height">
                              <div class="flip-container">
                                  <div class="flipper">
                                      <div class="front">
                                          <a href="detail.html">
                                              <img src="{{ asset('frontend/img/img/product1.jpg') }}" alt="" class="img-responsive">
                                          </a>
                                      </div>
                                      <div class="back">
                                          <a href="detail.html">
                                              <img src="{{ asset('frontend/img/img/product1_2.jpg') }}" alt="" class="img-responsive">
                                          </a>
                                      </div>
                                  </div>
                              </div>
                              <a href="detail.html" class="invisible">
                                  <img src="{{ asset('frontend/img/img/product2_2.jpg') }}" alt="" class="img-responsive">
                              </a>
                              <div class="text">
                                  <h3>Fur coat</h3>
                                  <p class="price">$143</p>
                              </div>
                          </div>
                          <!-- /.product -->
                      </div>
                      <div class="col-md-3 col-sm-6">
                          <div class="product same-height">
                              <div class="flip-container">
                                  <div class="flipper">
                                      <div class="front">
                                          <a href="detail.html">
                                              <img src="{{ asset('frontend/img/img/product3.jpg') }}" alt="" class="img-responsive">
                                          </a>
                                      </div>
                                      <div class="back">
                                          <a href="detail.html">
                                              <img src="{{ asset('frontend/img/img/product3_2.jpg') }}" alt="" class="img-responsive">
                                          </a>
                                      </div>
                                  </div>
                              </div>
                              <a href="detail.html" class="invisible">
                                  <img src="{{ asset('frontend/img/img/product3_2.jpg') }}" alt="" class="img-responsive">
                              </a>
                              <div class="text">
                                  <h3>Fur coat</h3>
                                  <p class="price">$143</p>

                              </div>
                          </div>
                          <!-- /.product -->
                      </div>
                      <div class="col-md-3 col-sm-6">
                          <div class="product same-height">
                              <div class="flip-container">
                                  <div class="flipper">
                                      <div class="front">
                                          <a href="detail.html">
                                              <img src="{{ asset('frontend/img/img/product3.jpg') }}" alt="" class="img-responsive">
                                          </a>
                                      </div>
                                      <div class="back">
                                          <a href="detail.html">
                                              <img src="{{ asset('frontend/img/img/product3_2.jpg') }}" alt="" class="img-responsive">
                                          </a>
                                      </div>
                                  </div>
                              </div>
                              <a href="detail.html" class="invisible">
                                  <img src="{{ asset('frontend/img/img/product3_2.jpg') }}" alt="" class="img-responsive">
                              </a>
                              <div class="text">
                                  <h3>Fur coat</h3>
                                  <p class="price">$143</p>

                              </div>
                          </div>
                          <!-- /.product -->
                      </div>
                  </div>


              </div>
              <!-- /.col-md-9 -->

              <div class="col-md-4">
                  <div class="box" id="order-summary">
                      <div class="box-header">
                          <h3>Récapitulatif</h3>
                      </div>
                      <div class="table-responsive">
                          <table class="table">
                              <tbody>
                              <tr>
                                  <td>Montant de la commande</td>
                                  <th>XOF 144 000</th>
                              </tr>
                              <tr>
                                  <td>Autres Frais</td>
                                  <th>XOF O00</th>
                              </tr>
                              <tr>
                                  <td>Taxe</td>
                                  <th> XOF 0.00</th>
                              </tr>
                              <tr class="total">
                                  <td>Total</td>
                                  <th>XOF 144 000</th>
                              </tr>
                              </tbody>
                          </table>
                      </div>

                  </div>


                  <div class="box">
                      <div class="box-header">
                          <h4>Validation commande</h4>
                      </div>
                      <p class="text-muted">Veillez remplir le formulaire suivant pour valider la commande</p>
                      <form class= "well form-horizontal" action=" " method="post"  id="contact_form">
                          <div class="form-group">
                              <div class=" inputGroupContainer">
                                  <div class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                      <input  name="first_name" placeholder="Nom" class="form-control"  type="text">
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class=" inputGroupContainer">
                                  <div class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                      <input  name="last_name" placeholder="Prénom" class="form-control"  type="text">
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class=" inputGroupContainer">
                                  <div class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                      <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class=" inputGroupContainer">
                                  <div class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                      <input name="phone" placeholder="(221)33 868 00 00" class="form-control" type="text">
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="selectContainer">
                                  <div class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                      <select name="state" class="form-control selectpicker" >
                                          <option value=" " >Indiquer votre pays</option>
                                          <option>Alabama</option>
                                          <option>Alaska</option>
                                          <option >Arizona</option>
                                          <option >Arkansas</option>
                                          <option >California</option>
                                          <option >Colorado</option>
                                          <option >Connecticut</option>
                                          <option >Delaware</option>
                                          <option >District of Columbia</option>
                                          <option> Florida</option>
                                          <option> France</option>
                                          <option >Georgia</option>
                                          <option >Hawaii</option>
                                          <option >daho</option>
                                          <option >Illinois</option>
                                          <option >Indiana</option>
                                          <option >Iowa</option>
                                          <option> Kansas</option>
                                          <option >Kentucky</option>
                                          <option >Louisiana</option>
                                          <option>Maine</option>
                                          <option >Maryland</option>
                                          <option> Mass</option>
                                          <option >Michigan</option>
                                          <option >Minnesota</option>
                                          <option>Mississippi</option>
                                          <option>Missouri</option>
                                          <option>Montana</option>
                                          <option>Nebraska</option>
                                          <option>Nevada</option>
                                          <option>New Hampshire</option>
                                          <option>New Jersey</option>
                                          <option>New Mexico</option>
                                          <option>New York</option>
                                          <option>North Carolina</option>
                                          <option>North Dakota</option>
                                          <option>Ohio</option>
                                          <option>Oklahoma</option>
                                          <option>Oregon</option>
                                          <option>Pennsylvania</option>
                                          <option>Rhode Island</option>
                                          <option>South Carolina</option>
                                          <option>South Dakota</option>
                                          <option>Sénégal</option>
                                          <option>Tennessee</option>
                                          <option>Texas</option>
                                          <option> Uttah</option>
                                          <option>Vermont</option>
                                          <option>Virginia</option>
                                          <option >Washington</option>
                                          <option >West Virginia</option>
                                          <option>Wisconsin</option>
                                          <option >Wyoming</option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div >
                                  <button type="submit" class="btn btn-warning" >Envoyer <span class="glyphicon glyphicon-send"></span></button>
                              </div>
                          </div>
                          {#<div class="input-group">#}
                              {#<input type="text" class="form-control">#}
                              {#<span class="input-group-btn">#}
                              {#<button class="btn btn-primary" type="button"><i class="fa fa-gift"></i></button>#}
                              {#</span>#}
                          {#</div>#}

                          <!-- /input-group -->
                      </form>
                  </div>

              </div>
            <!-- /.col-md-9 -->
        </div>
          <div id="footer" data-animate="fadeInUp">
              <div class="container">
                  <div class="row">
                      <div class="col-md-3 col-sm-6">
                          <h4>Menu</h4>

                          <ul>
                              <li><a href="text.html">Acceil</a>
                              </li>
                              <li><a href="text.html">Nos résidences</a>
                              </li>
                              <li><a href="faq.html"></a>
                              </li>
                              <li><a href="contact.html">Contactez-nous</a>
                              </li>
                          </ul>

                          <hr>

                          <h4>Gestion membre</h4>

                          <ul>
                              <li><a href="#" data-toggle="modal" data-target="#login-modal">Se connecter</a>
                              </li>
                              <li><a href="register.html">S'enregistrer</a>
                              </li>
                          </ul>

                          <hr class="hidden-md hidden-lg hidden-sm">

                      </div>
                      <!-- /.col-md-3 -->

                      <div class="col-md-3 col-sm-6">

                          <h4>Top catégories</h4>

                          <h5>Chambres</h5>

                          <ul>
                              <li><a href="category.html">Standard</a>
                              </li>
                              <li><a href="category.html">De luxe</a>
                              </li>
                          </ul>

                          <h5>Suites</h5>
                          <ul>
                              <li><a href="category.html">Simple</a>
                              </li>
                              <li><a href="category.html">Junior</a>
                              </li>
                          </ul>

                          <hr class="hidden-md hidden-lg">

                      </div>
                      <!-- /.col-md-3 -->

                      <div class="col-md-3 col-sm-6">

                          <h4>Nous localiser</h4>

                          <p><strong>Le Feto 2</strong>
                              <br>Sicap Foire
                              <br> Dakar-Sénégal
                              <br>
                              <strong>Siége social</strong>
                          </p>

                          <a href="contact.html">Aller à la page de contact</a>

                          <hr class="hidden-md hidden-lg">

                      </div>
                      <!-- /.col-md-3 -->
                      <div class="col-md-3 col-sm-6">

                          <h4>recevoir les nouveautés</h4>

                          <p class="text-muted">Veillez indiquer ci dessous votre adresse email pour recevoir les nouvelles offres</p>

                          <form>
                              <div class="input-group">

                                  <input type="text" class="form-control">

                                  <span class="input-group-btn">

			    <button class="btn btn-default" type="button">S'inscrire</button>

			</span>

                              </div>
                              <!-- /input-group -->
                          </form>

                          <hr>

                          <h4>Stay in touch</h4>

                          <p class="social">
                              <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                              <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                              <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                              <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                              <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                          </p>


                      </div>
                      <!-- /.col-md-3 -->

                  </div>
                  <!-- /.row -->

              </div>
              <!-- /.container -->
          </div>
    </div>
    </div>
    <footer class="main-footer">
        <strong>Copyright &copy; 2017 <a href="http://sn.albasoft.fr">Albasoft it</a>.</strong>
    </footer>
    {% block javascripts %}{% endblock %}
</body>
<script src="{{ asset('frontend/js/jquery-1.11.2.min.js') }}"></script>      		<!-- jQuery -->
<script src="{{ asset('frontend/js/bootstrap.min.js') }}"></script>					<!-- bootstrap js -->
<script src="{{ asset('frontend/js/jquery.cookie.js') }}"></script>
<script src="{{ asset('frontend/js/waypoints.min.js') }}"></script>
<script src="{{ asset('frontend/js/modernizr.js') }}"></script>
<script src="{{ asset('frontend/js/bootstrap-hover-dropdown.js') }}"></script>
<script src="{{ asset('frontend/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('frontend/js/front.js') }}"></script>
<script>
    $(document).ready(function() {
        $('#contact_form').bootstrapValidator({
            // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                first_name: {
                    validators: {
                        stringLength: {
                            min: 2,
                        },
                        notEmpty: {
                            message: 'Please supply your first name'
                        }
                    }
                },
                last_name: {
                    validators: {
                        stringLength: {
                            min: 2,
                        },
                        notEmpty: {
                            message: 'Please supply your last name'
                        }
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: 'Please supply your email address'
                        },
                        emailAddress: {
                            message: 'Please supply a valid email address'
                        }
                    }
                },
                phone: {
                    validators: {
                        notEmpty: {
                            message: 'Please supply your phone number'
                        },
                        phone: {
                            country: 'US',
                            message: 'Please supply a vaild phone number with area code'
                        }
                    }
                },
                address: {
                    validators: {
                        stringLength: {
                            min: 8,
                        },
                        notEmpty: {
                            message: 'Please supply your street address'
                        }
                    }
                },
                city: {
                    validators: {
                        stringLength: {
                            min: 4,
                        },
                        notEmpty: {
                            message: 'Please supply your city'
                        }
                    }
                },
                state: {
                    validators: {
                        notEmpty: {
                            message: 'Please select your state'
                        }
                    }
                },
                zip: {
                    validators: {
                        notEmpty: {
                            message: 'Please supply your zip code'
                        },
                        zipCode: {
                            country: 'US',
                            message: 'Please supply a vaild zip code'
                        }
                    }
                },
                comment: {
                    validators: {
                        stringLength: {
                            min: 10,
                            max: 200,
                            message:'Please enter at least 10 characters and no more than 200'
                        },
                        notEmpty: {
                            message: 'Please supply a description of your project'
                        }
                    }
                }
            }
        })
            .on('success.form.bv', function(e) {
                $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                $('#contact_form').data('bootstrapValidator').resetForm();

                // Prevent form submission
                e.preventDefault();

                // Get the form instance
                var $form = $(e.target);

                // Get the BootstrapValidator instance
                var bv = $form.data('bootstrapValidator');

                // Use Ajax to submit form data
                $.post($form.attr('action'), $form.serialize(), function(result) {
                    console.log(result);
                }, 'json');
            });
    });

</script>


</html>
