{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typelogement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeLogement.id }}</td>
            </tr>
            <tr>
                <th>Designationlogement</th>
                <td>{{ typeLogement.designationLogement }}</td>
            </tr>
            <tr>
                <th>Prixlogement</th>
                <td>{{ typeLogement.prixLogement }}</td>
            </tr>
            <tr>
                <th>Nombreoffrestype</th>
                <td>{{ typeLogement.nombreOffresType }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typelogement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('typelogement_edit', { 'id': typeLogement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
